server:
  port: 8080

spring:
  application:
    name: shop_app
  datasource:
    url: jdbc:mysql://localhost:3306/shop_app
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
api:
  prefix: /api
